<robot name="bender">

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <material name="gray">
        <color rgba="0.4 0.4 0.4 1"/>
    </material>

    <material name="light gray">
        <color rgba="0.8 0.8 0.8 1"/>
    </material>

    <material name="light green">
        <color rgba="0.4 0.8 0.4 1"/>
    </material>

    <material name="light blue">
        <color rgba="0.4 0.4 0.8 1"/>
    </material>

    <material name="light red">
        <color rgba="0.8 0.4 0.4 1"/>
    </material>

    <link name="world"/>
    <link name="base">
        <visual>
            <geometry>
                <sphere radius="0.1"/>   
            </geometry>
            <material name="white"/>
        </visual>
        <inertial>
            <mass value="0"/>
            <inertia ixx="0"  ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>

    <link name="link_1">
        <visual>
            <geometry>
                <cylinder radius="0.01" length="0.8"/>   
            </geometry>
            <origin xyz="0.0 0 0.4" rpy="0 0 0" />
            <material name="gray"/>
        </visual>
        <inertial>
            <mass value="0"/>
            <inertia ixx="0"  ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>

    <link name="link_eef">
        <visual>
            <geometry>
                <sphere radius="0.05"/>   
            </geometry>
            <origin xyz="0 0 0.05" rpy="0 0 0" />
            <material name="black"/>
        </visual>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="0"  ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
        </inertial>
    </link>

    <joint name="world_to_base" type="fixed">
        <parent link="world"/>
        <child link="base"/>     
        <origin xyz="0 0 1.5" rpy="0 0 0"/>
    </joint>

    <joint name="joint_1" type="revolute">
        <parent link="base"/>
        <child link="link_1"/>
        <origin xyz="0.0 0 0" rpy="0 3.14159265358979323846 0"/>
        <limit effort="0" velocity="0"/>
        <dynamics damping="1" friction="0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <joint name="joint_eef" type="fixed">
        <parent link="link_1"/>
        <child link="link_eef"/>     
        <origin xyz="0 0 0.8" rpy="0 0 0"/>
    </joint>

    <link name="code">
        <visual>
            <geometry>
                <mesh filename="meshes2/files/arucocube_black.stl" scale="0.00251"/>
            </geometry>
            <origin xyz="0 0 0.05" rpy="0 0 0" />
        </visual>
    </link>

    

    <joint name="box_w" type="fixed">
        <parent link="world"/>
        <child link="code"/> 
        <origin xyz="1 0 0" rpy="0 0 0" />    
    </joint>

    <link name="code_bg">
        <visual>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <origin xyz="0 0 0.05" rpy="0 0 0" />
        </visual>
        
    </link>

    <joint name="box_bg" type="fixed">
        <parent link="code"/>
        <child link="code_bg"/>     
    </joint>

</robot>