astroid==2.5
click==7.1.2
fastapi==0.63.0
h11==0.12.0
httptools==0.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
pybullet==3.0.8
pydantic==1.7.3
pylint==2.6.0
python-dotenv==0.15.0
PyYAML==5.4.1
starlette==0.13.6
toml==0.10.2
uvicorn==0.13.3
uvloop==0.15.1
watchgod==0.6
websockets==8.1
wrapt==1.12.1
